<style>
 
    .ab a span:hover{
          background-color:#6495ED;
          color:white;
          border:none;
        }
        .ab a span{
          color:black;
          border:1px solid black;
        }
        
    </style>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <link rel="stylesheet" href="path/to/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <meta charset="UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        
        <title>Login</title>
    </head>
    <body>
        
        <nav class="navbar navbar-light bg-light"  >
            <a class="navbar-brand" href="#" style="display:flex;flex-direction:row;">
              <img src="/images/logos.png"   height="50px"  class="d-inline-block align-top" alt="">
                <span style="display:flex;align-items:center; padding-left:45px;font-size: 30px;font-weight:bold;"><%=result.firstname+" "+result.lastname%></span>
                
            </a>
            <div style="display:flex;align-items:center;flex-direction:row;margin-left: auto;" class="ab" >
               
                    <a href="/student/logout" style="margin-right:50px;font-weight: bold;letter-spacing:1px;text-decoration:none;" >
                      <span style="display:flex;align-items:center; padding-left:20px;padding-right:20px;padding-bottom:10px;padding-top:10px;font-size: 20px; border-radius:50px;">
                        Logout
                      </span>
                    </a>
                
                <span>
                    <img src="/images/graduation.png" alt="faculty" width="60px" style="border-radius: 10px;">
                </span>
                    
            </div>
          </nav>
          <div class="form-row"  >
            <div class="form-group col-md-2" style="display:flex;background:#DE3163; height:90vh; align-items:center;" >
              
                <ul class="nav flex-column ">
                  <img src="/images/<%=result.image%> " style="margin-left:50px;border-radius: 80px;" height="120px" width="120px">
                    <li class="nav-item" style="display:flex;flex-direction:row;align-items:center;">
                      
                      <i class="fas fa-users" style="padding-left:10px;font-weight: bold;letter-spacing:2px;font-size:24px;color:#FFFFFF!important"></i>
                      <a class="nav-link active" href="/student/myinfo" style="font-weight: bold;letter-spacing:2px;font-size:24px;color:#FFFFFF!important">My Info</a>
                    </li>
                    <li class="nav-item" style="display:flex;flex-direction:row;align-items:center;">
                      
                      <i class="fas fa-users" style="padding-left:10px;font-weight: bold;letter-spacing:2px;font-size:24px;color:#FFFFFF!important"></i>
                      <a class="nav-link active" href="/faculty/studentinterface" style="font-weight: bold;letter-spacing:2px;font-size:24px;color:#FFFFFF!important">See Marks</a>
                    </li>
                   
                    
                    <li class="nav-item" style="margin-top:30px;display:flex;flex-direction:row;align-items:center;">
                      <i class="fas fa-search" style="padding-left:10px;font-weight: bold;letter-spacing:2px;font-size:24px;color:#FFFFFF!important"></i>
                      <a class="nav-link active" href="/faculty/searchfaculty" style="font-weight: bold;letter-spacing:2px;font-size:24px;color:#FFFFFF!important">Search</a>
                    </li>
                    
                  </ul>
              </div>
            <div class="form-group col-md-8">
                
            </div>
            
          </div>
         
         
        
    </body>
    </html>